#pageTitle {
  background-color: #E21836;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  width: 100%;
  position: fixed; /* Set the navbar to fixed position */
  padding: 50px;
}

body {
  background-color: white;
}

#yellowUnderline {
  background-color: #DAA520;
  padding: 5px;
  margin-top: 152px;
  position: fixed; /* Set the navbar to fixed position */
  width: 100%;
}
.navbar {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #C9C9C9;
    color: black;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #63A7E5;
    color: white;
}

/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
}

#org_logo {
  margin-right: 10px;
  padding-right: 22px;
  padding-bottom: 12px;
}

#logo {
  margin-top: 60px;
}

#Logo{
  float: right;
}

#signOut {
  float: right;
}

.btn-group {
      margin-left: 160px;
      justify-content: center;
      text-align: center;
}

.btn-group button {
    margin-top: 50px;
    background-color: #E21836; /* Red background */
    border: 1px solid #E21836; /* Red border */
    color: white; /* White text */
    padding: 86px 86px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
display:table-cell;
vertical-align:middle;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #840B0B;
    border: 1px solid #840B0B; /* Red border */
}

button {
  margin: 13px 22px 12px 20px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  padding-bottom: 20px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
  margin-left: 65px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 60px;
  text-align: center;
  background-color: #f1f1f1;
  margin-top: 250px;
  margin-left: 50px;
  width: 200px;
  height: 200px;
  color: black;
}

.card:hover {
  background-color: #A9A9A9;
}

.card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 60px;
  text-align: center;
  background-color: #f1f1f1;
  margin-top: 50px;
  width: 200px;
  height: 200px;
  margin-bottom: 50px;
}

.card2:hover {
  background-color: #A9A9A9;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
